*,
:after,
:before {
  box-sizing: border-box;
}

.body {
  background: linear-gradient(180deg, #615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 100px;
  margin-top: 50px;
  color: white;
  height: 100vh;
}
.body--long {
  height: 100%;
}

.hlavnibox {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.box1 {
  background-color: #283e50;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 5px 5px 0 0;
}

.tlacitka {
  display: flex;
  flex-direction: column;
}

.tlacitko1 {
  text-align: center;
  background-color: #1fcca4;
  height: 40px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 40px;
}

.tlacitko2 {
  text-align: center;
  background-color: #0197f6;
  height: 40px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 40px;
  border-top: #283e50 solid 1px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin: 10px;
  text-align: center;
}

a.tlacitko1:hover {
  background-color: #1cbb96;
}

a.tlacitko2:hover {
  background-color: #0090e9;
}

ol {
  text-align: left;
  font-size: 15px;
  line-height: 1.5;
}

.instructions {
  width: 80%;
  border-radius: 0;
}

.box1--pravidla {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.ikony {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

figure {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

@media (min-width: 650px) {
  .hlavnibox--pravidla {
    width: 640px;
  }
  .imageGalery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .instructions {
    width: 100%;
  }

  .navod {
    width: calc(40% - 1rem);
    flex-grow: 1;
  }
}

@media (min-width: 800px) {
  .hlavnibox--pravidla {
    width: 700px;
  }
  .imageGalery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .instructions {
    width: 100%;
  }

  .navod {
    width: calc(40% - 1rem);
    flex-grow: 1;
  }
}
